html, body, .App, .App>div {
  height: 100vw;
  width: 100vw;
  background-color: black;
}

.App {
  font-family: 'Courier Prime', monospace;
  background-color: black;
  color: white;
  width: 100vw;
  margin:0;
  padding: 0;
}

.main {
  padding-top: 3%;
}

.main-header {
  /* border-bottom: 2px solid white; */
  text-decoration: underline;
  font-size: 1.5em;
}

.query-button {
  border: 1px solid white;
  background-color: black;
  color: white;
  margin-top: 5%;
  cursor: pointer;
}