.sticky-sidebar {
    background-color: black;
    color: white;
    height: 100vh;
    margin:0;
    padding:3%;
}

/* heading styles  */
.sticky-sidebar h1 {
    font-size: 1.5em;
    font-weight: 700;
    color: #839693;
}
.sticky-sidebar h2 {
    font-size: 1.25em;
    font-weight: 400;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 2% 0;
}
.sticky-sidebar h3 {
    color: #839693;
    font-size: 1.15em;
    font-weight: 400;
}

 /* each individual algo link style  */
 /* active  */
.algo-link-active {
    font-size: .75em;
    font-weight: 400;
    margin: 0;
    color: #4bab9c;
    background-color: #839693;
    color: black;
    cursor: pointer;
}
/* .algo-link-active:hover {
    background-color: rgb(20, 27, 26);
    color: #4bab9c;
    cursor: pointer;
} */

.algo-link-not-active {
    font-size: .75em;
    font-weight: 400;
    margin: 0;
    color: #4bab9c;
    cursor: pointer;
}
/* .algo-link-not-active:hover {
    background-color: #839693;
    color: black;
    cursor: pointer;
} */


 /* removing padding from ul in the sidebar */
.main-link-list {
    list-style: none;
    padding-left: 0;
}

.sub-link-list-ul {
    list-style: none;
    padding-left: 0;
}

.algo-link-list {
    list-style: none;
    padding-left: 0;
}